@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: white;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

html.dark body {
  background-color: #0a0a0a;
  color: #ededed;
}
